# Зависимости (самая важная папка для фронта)
node_modules/

# Результаты сборки
dist/
build/

# Логи и настройки
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Настройки среды (API ключи и т.д.)
.env
.env.local
.env.*.local

# Настройки редакторов
.vscode/
.idea/

# Файлы ОС
.DS_Store
Thumbs.db