SECRET_KEY=your-super-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=mycloud_db
DB_USER=mycloud_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

# Путь к хранилищу на сервере Linux (измените, если путь к проекту будет другим)
STORAGE_BASE_DIR=/home/asasxa/fpy-diplom/fry-dip-backend/storage