# Виртуальное окружение
venv/
env/
ENV/

# Скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Настройки среды (секретные ключи, пароли БД)
.env
.env.local
.env.*.local

# Файлы базы данных (если вдруг появится SQLite)
db.sqlite3

# Медиафайлы и хранилище (их не нужно пушить в гит)
media/
storage/

# Настройки IDE
.vscode/
.idea/

# Файлы ОС
.DS_Store
Thumbs.db